/* TODO Add site wide styles */
.logo-container {
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo {
 margin: auto;
 width: 10vw;
 display:flex;
 justify-content: center;

}

@font-face {
    font-family: Reglisse;
    src: url(../src/fonts/Reglisse_Fill.otf) format("opentype")
  }
