/* TODO Add site wide styles */
.logo-container {
    height:5vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo {
 margin: auto;
 width: 10vw;
 display:flex;
 justify-content: center;

}

@font-face {
    font-family: Reglisse;
    src: url(../src/fonts/Reglisse_Fill.otf) format("opentype")
  }

.stage {
    border-bottom: 3px solid #444;
    display: flex;
    /* height: 330px; */
    width: 100%;
}
.box {
    /* align-self: flex-end; */
    align-self: center;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* background-color: #F44336; */

    background-repeat: no-repeat;
    height: 40vh;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    width: 15vw;
}
.bounce-6 {
    animation-name: bounce-6;
    animation-timing-function: ease;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
